<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MYPD 마이데이터의 첫걸음</title>

    
    <!-- SWIPER -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>
    <!-- CSS -->
    <link rel="stylesheet" href="../stylesheets/home.css">
    <link rel="stylesheet" href="../stylesheets/default.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/swagger_ui.css">
    <link rel="shortcut icon" type="image/x-icon" href="../images/logo-fabicon.png">


</head>
<body class="body_bg">
    <div class="about_nav">
        <nav class="navigation">
            <%- include ("./header") %>
        </nav>
    </div>

    <div class="header">
        <h1>API 서버 통합테스트</h1>
    </div>

    <main class="main_bg">
        <aside>
        </aside>
        
        <!-- 왼쪽 사이드 바-->
        <section style="position:relative">
            <div class="side_bar2">     

                <div class="dropdown">
                    <button class="dropdown-btn"><i class="fa-solid fa-mobile"></i>&nbsp;&nbsp;&nbsp;마이데이터 서비스 테스트 </button>
                    <div class="dropdown-submenu">
                        <a href="../testbed/unit_svc">ㄴ단위테스트</a>
                        <a href="../testbed/inte_svc">ㄴ통합테스트</a>
                        <a href="../testbed/link_svc">ㄴ연동테스트</a>
                    </div>
                </div>

                <div class="dropdown">
                    <button class="dropdown-btn"><i class="fa-solid fa-server"></i>&nbsp;&nbsp;API 서비스 테스트</button>
                    <div class="dropdown-submenu">
                        <a href="../testbed/unit_api">ㄴ단위테스트</a>
                        <a href="../testbed/inte_api">ㄴ통합테스트</a>
                        <a href="../testbed/link_api">ㄴ연동테스트</a>
                    </div>
                </div>

                <div class="dropdown">
                    <button class="dropdown-btn"><i class="fa-sharp fa-solid fa-gear"></i>&nbsp;&nbsp;테스트 관리</button>
                    <div class="dropdown-submenu">
                        <a href="../mypage/editdata_list">ㄴ테스트 데이터 관리</a>
                        <a href="../mypage/reg_svc_list">ㄴ테스트 서비스 관리</a>
                    </div>
                </div>

                <div class="dropdown">
                    <button class="dropdown-btn"><i class="fas fa-list"></i>&nbsp;&nbsp;테스트 내역 조회</button>
                    <div class="dropdown-submenu">
                        <a href="#none">ㄴ마이데이터 서비스 테스트</a>
                        <a href="#none">ㄴAPI 서버 테스트</a>
                    </div>
                </div>
            </div>    


            <!-- 중앙 내용 -->
            <div class="unitTest_box">
                <form class="unitTest_box_form">
                    <div class="unitTest_box_input">
                        <div class="unitTest_edit_input">
                        <label for="biz_type">API 서버</label>
                        <select class="unitTest_input" name="biz_type" id="biz_type" onchange="making_select_server_final()" required>
                            <option>API 서버</option>
                            <% for(var i=0; i<server_select.length; i++){ %>
                            <option value=<%=server_select[i].server_manage_id%>><%=server_select[i].server_name%></option>
                            <% } %>
                        </select>
                        </div>
                    </div>

                    <div class="unitTest_box_input">
                        <div class="unitTest_edit_input">
                            <label for="org_code">업권분류</label>
                            <input type="text" class="unitTest_input" name="b_right" required="required" autofocus="autofocus" readonly>
                            <span class="errorBox_myPage"></span>
                        </div>                     
                    </div>

                    <div class="unitTest_box_input">
                        <div class="unitTest_edit_input">
                            <label for="org_code">orgcode</label>
                            <input type="text" class="unitTest_input" name="orgcode" required="required" autofocus="autofocus" readonly value="<%= C_FINAL['org_code'] %>">
                            <span class="errorBox_myPage"></span>
                        </div>                     
                    </div>

                    <div class="unitTest_box_input">
                        <div class="unitTest_edit_input">
                            <label for="org_code">Callback URL</label>
                            <input type="text" class="unitTest_input" name="Callback_URL" required="required" autofocus="autofocus" readonly value="<%= C_FINAL['callback_url'] %>">
                            <span class="errorBox_myPage"></span>
                        </div>                     
                    </div>

                    <div class="unitTest_box_input">
                        <div class="unitTest_edit_input">
                            <label for="org_code">Client ID</label>
                            <input type="text" class="unitTest_input" name="Client_ID" required="required" autofocus="autofocus" readonly value="<%= C_FINAL['client_id'] %>">
                            <span class="errorBox_myPage"></span>
                        </div>                     
                    </div>

                    <div class="unitTest_box_input">
                        <div class="unitTest_edit_input">
                            <label for="org_code">Client Secret</label>
                            <input type="text" class="unitTest_input" name="Client_Secret" required="required" autofocus="autofocus" readonly value="<%= C_FINAL['client_secret'] %>">
                            <span class="errorBox_myPage"></span>
                        </div>                     
                    </div>

                    <div class="unitTest_box_input">
                        <div class="unitTest_edit_input">
                            <label for="org_code">Access token</label>
                            <input type="text" class="unitTest_input" name="Access_token" required="required" autofocus="autofocus" readonly value="<%= C_FINAL['access_token'] %>">
                            <span class="errorBox_myPage"></span>
                        </div>                     
                    </div>
                    <div class="mypage_btn">
                        <button type="button" id="clickresult" style="cursor:pointer;">테스트 실행</button>
                    </div>
                </form>
            </div>
            <section id="result" style="display: none; width: 85%; margin: 0 auto;">
                <section id="request" style="overflow:hidden; height:auto;">
                    <section style="height: 50px; margin: 80px auto 0; border-top: 3px dotted rgb(190, 186, 186); ">
                        <h1 style="font-size: 20px; margin-top: 40px; padding-bottom: 10px; border-bottom: 3px solid rgba(0, 0, 0);">[POST] 수신계좌 거래내역 조회</h1>
                    </section>
                    <section style="width: 70%; height: 50px; margin: 60px auto 40px;">
                        <h3 style="font-size: 15px;  padding-bottom: 10px;">정보주체가 보유한 계좌에서 조회 기간 동안 발생한 상세 거래 정보 조회 (Pagination, 거래일시 기준 내림차순)</h3>
                        <h3 style="font-size: 15px;">-신용정보법 시행령 제28조약3제4장에 의거, 최근 5년 이내 정보 제공</h3>
                    </section>
                    <section style="overflow:hidden; height:auto; margin: 0px auto; ">
                        <div class="swagger-ui">
                            <div class="responses-wrapper">
                                <div class="opblock-section-header">
                                    <h1>Request</h1>
                                </div>
                                
                                <div class="responses-inner">
                                    <table aria-live="polite" class="responses-table" id="get_v1_oauth_2_0_authorize_responses" role="region">
                                        <thead>
                                            <tr class="responses-header">
                                                <td class="col_header response-col_status">Name</td>
                                                <td class="col_header response-col_description">Description</td>
                                            </tr>
                                        </thead>
                                        
                                        <tbody>
                                            <tr class="response " data-code="200">
                                                <td class="response-col_status">Body</td>
                                                <td class="response-col_description">
                                                    <div class="model-example">
                                                        <div aria-hidden="false" aria-labelledby="UTxw9y4=" data-name="examplePanel" id="U4LqXTs=" role="tabpanel" tabindex="0">
                                                            <div>
                                                                <div class="highlight-code">
                                                                    <pre class="example microlight" style="display: block; overflow-x: auto; padding: 0.5em; background: rgb(51, 51, 51); color: white;">
                                                                        <code class="language-json" style="white-space: pre;">
                                                                            <span>{</span>
                                                                            <span>  </span>
                                                                            <span class="hljs-attr">"code"</span>
                                                                            <span>: </span>
                                                                            <span style="color: rgb(162, 252, 162);">"321d8f2c76"</span>
                                                                            <span>,</span>
                                                                            <span>  </span>
                                                                            <span class="hljs-attr">"state"</span>
                                                                            <span>: </span>
                                                                            <span style="color: rgb(162, 252, 162);">"0123456789abcdef0123456789abcdef01234567"</span>
                                                                            <span>,</span>
                                                                            <span>  </span>
                                                                            <span class="hljs-attr">"api_tran_id"</span>
                                                                            <span>: </span>
                                                                            <span style="color: rgb(211, 99, 99);">1.2345678901234568e+24</span>
                                                                            <span></span>}
                                                                        </code>
                                                                    </pre>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="execute-wrapper" style="width: 40%; margin: 0 auto;">
                                    <button type="submit" id="nextclick" style="display: none;"></button>
                                    <button type="button" class="btn execute opblock-control__btn" id="clickresponse">EXCUTE</button>
                                </div>
                            </div>
                        </div>
                    </section>
                </section>
                <section id="response" style="overflow:hidden; height:auto; display: none;">
                    <section style="overflow:hidden; height:auto; margin: 0px auto; border-top: 3px dotted rgb(190, 186, 186);">
                        <div class="swagger-ui">
                            <div class="responses-wrapper">
                                <div class="opblock-section-header">
                                    <h1>Response</h1>
                                    <h1>수신계좌 거래내역 조회</h1>
                                </div>
                                
                                <div class="responses-inner">
                                    <table aria-live="polite" class="responses-table" id="get_v1_oauth_2_0_authorize_responses" role="region">
                                        <thead>
                                            <tr class="responses-header">
                                                <td class="col_header response-col_status">Code</td>
                                                <td class="col_header response-col_description">Details</td>
                                            </tr>
                                        </thead>
                                        
                                        <tbody>
                                            <tr class="response" data-code="200">
                                                <td class="response-col_status">Body</td>
                                                <td class="response-col_description">Response
                                                    <div class="model-example">
                                                        <div aria-hidden="false" aria-labelledby="UTxw9y4=" data-name="examplePanel" id="U4LqXTs=" role="tabpanel" tabindex="0">
                                                            <div>
                                                                <div class="highlight-code">
                                                                    <pre class="example microlight" style="display: block; overflow-x: auto; padding: 0.5em; background: rgb(51, 51, 51); color: white;">
                                                                        <code class="language-json" style="white-space: pre;">
                                                                            <span>{</span>
                                                                            <span>  </span>
                                                                            <span class="hljs-attr">"code"</span>
                                                                            <span>: </span>
                                                                            <span style="color: rgb(162, 252, 162);">"321d8f2c76"</span>
                                                                            <span>,</span>
                                                                            <span>  </span>
                                                                            <span class="hljs-attr">"state"</span>
                                                                            <span>: </span>
                                                                            <span style="color: rgb(162, 252, 162);">"0123456789abcdef0123456789abcdef01234567"</span>
                                                                            <span>,</span>
                                                                            <span>  </span>
                                                                            <span class="hljs-attr">"api_tran_id"</span>
                                                                            <span>: </span>
                                                                            <span style="color: rgb(211, 99, 99);">1.2345678901234568e+24</span>
                                                                            <span></span>}
                                                                        </code>
                                                                    </pre>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="execute-wrapper" style="width: 40%; margin: 0 auto;">
                                    <button type="submit" id="nextclick" style="display: none;"></button>
                                    <button type="button" class="btn execute opblock-control__btn" id="popupclick">추가테스트</button>
                                </div>
                            </div>
                        </div>
                    </section>
                </section>
            </section>
        </section>
        
        <!-- 오른쪽 사이드바 -->
        <aside></aside>

    </main>

    <script>
        document.getElementById("clickresult").onclick = function() {
            var myWindow = window.open("/testbed/popup_api_select", "인증 팝업", "width = 460, height = 650, top = 100, left = 200, location = no");
        }
        document.getElementById("clickresponse").onclick = function() {
            document.getElementById("response").style.display = 'block';
        }
    </script>

    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="../javascripts/service_test.js"></script>

</body>
</html>