<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MYPD 마이데이터의 첫걸음</title>

    
    <script src="https://kit.fontawesome.com/0cfcf927e8.js" crossorigin="anonymous"></script>
    <!-- SWIPER -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>
    <!-- CSS -->
    <link rel="stylesheet" href="../stylesheets/home.css">
    <link rel="stylesheet" href="../stylesheets/default.css">
    <link rel="shortcut icon" type="image/x-icon" href="../images/logo-fabicon.png">


</head>
<body class="body_bg">
    <div class="about_nav">
        <nav class="navigation">
            <%- include ("./header") %>
        </nav>
    </div>

    <div class="header">
        <h1>마이데이터 서비스 테스트</h1>
        <p>단위테스트</p>
    </div>

    <main class="main_bg">
        <aside>
        </aside>
        
        <!-- 왼쪽 사이드 바-->
        <section style="position:relative">
            <div class="side_bar2">     

                <div class="dropdown">
                    <button class="dropdown-btn"><i class="fa-solid fa-mobile"></i>&nbsp;&nbsp;&nbsp;마이데이터 서비스 테스트 </button>
                    <div class="dropdown-submenu">
                        <a href="../testbed/unit_svc">ㄴ단위테스트</a>
                        <a href="../testbed/inte_svc">ㄴ통합테스트</a>
                        <a href="../testbed/link_svc">ㄴ연동테스트</a>
                    </div>
                </div>

                <div class="dropdown">
                    <button class="dropdown-btn"><i class="fa-solid fa-server"></i>&nbsp;&nbsp;API 서비스 테스트</button>
                    <div class="dropdown-submenu">
                        <a href="../testbed/unit_api">ㄴ단위테스트</a>
                        <a href="../testbed/inte_api">ㄴ통합테스트</a>
                        <a href="../testbed/link_api">ㄴ연동테스트</a>
                    </div>
                </div>

                <div class="dropdown">
                    <button class="dropdown-btn"><i class="fa-sharp fa-solid fa-gear"></i>&nbsp;&nbsp;테스트 관리</button>
                    <div class="dropdown-submenu">
                        <a href="../mypage/editdata_list">ㄴ테스트 데이터 관리</a>
                        <a href="../mypage/reg_svc_list">ㄴ테스트 서비스 관리</a>
                    </div>
                </div>

                <div class="dropdown">
                    <button class="dropdown-btn"><i class="fas fa-list"></i>&nbsp;&nbsp;테스트 내역 조회</button>
                    <div class="dropdown-submenu">
                        <a href="#none">ㄴ마이데이터 서비스 테스트</a>
                        <a href="#none">ㄴAPI 서버 테스트</a>
                    </div>
                </div>
            </div>    


            <!-- 중앙 내용 -->
            <div class="unitTest_box">
                <form class="unitTest_box_form">
                    <div class="unitTest_box_input">
                        <div class="unitTest_edit_input">
                        <label for="biz_type">서비스 선택</label>
                        <select class="unitTest_input" name="biz_type" id="biz_type" onchange="making_select()" required>
                            <option>서비스 선택</option>
                            <% for(var i=0; i<service_select.length; i++){ %>
                            <option value=<%=service_select[i].service_id%>><%=service_select[i].service_name%></option>
                            <% } %>
                        </select>
                        </div>
                    </div>
                    
                    <div class="unitTest_box_input">
                        <div class="unitTest_edit_input">
                        <label for="data_select">데이터 선택</label>
                        <select class="unitTest_input" name="data_select" id="data_select" onchange="making_select_data()" required>
                            <option>데이터 선택</option>
                            <% for(var i=0; i<data_select.length; i++){ %>
                            <option value=<%=data_select[i].data_id%>><%=data_select[i].data_name%></option>
                            <% } %>
                        </select>
                        </div>
                    </div>


                    <div class="unitTest_box_input">
                        <div class="unitTest_edit_input">
                            <label for="org_code">Client ID</label>
                            <input type="text" class="unitTest_input" name="C_ID" required="required" autofocus="autofocus" readonly>
                            <span class="errorBox_myPage"></span>
                        </div>                     
                    </div>
                    
                    <div class="unitTest_box_input">
                        <div class="unitTest_edit_input">
                            <label for="org_code">Client Secret</label>
                            <input type="text" class="unitTest_input" name="C_Se" required="required" autofocus="autofocus" readonly>
                            <span class="errorBox_myPage"></span>
                        </div>                     
                    </div>

                    <!-- 테스트 데이터 출력용 임시 박스임 삭제 해야함 -->
                    <!-- <div class="unitTest_box_input">
                        <div class="unitTest_edit_input">
                            <label for="tmp_data">테스트 데이터 미리보기</label>
                            <input type="text" class="unitTest_input" name="tmp_data" required="required" autofocus="autofocus" readonly>
                            <span class="errorBox_myPage"></span>
                        </div>                     
                    </div> -->
                    <!-- =========================================== -->

                    <!-- <div class="unitTest_box_input">
                        <div class="unitTest_edit_input">
                            <label for="org_code">접근 토큰</label>
                            <input type="text" class="unitTest_input" name="org_code" required="required" autofocus="autofocus">
                            <span class="errorBox_myPage"></span>
                        </div>                     
                    </div> -->

                </form>
            </div>  

            <!-- SWAGger UI-->
            <div class="unitTest_box"> 
                <div class="swag">
                    <iframe id="swagger-iframe" src="http://localhost:3000/svc_test"  onload="calcHeight();" name="WrittenPublic"  frameborder="0"  style="overflow-x:hidden; overflow:auto; width:100%; min-height:500px;">로드 중…</iframe>
                </div>
            </div>

            <div style="height: 20px;"></div>
        </section>        


        <!-- 오른쪽 사이드바 -->
        <aside></aside>
        <div id="topButton" style="cursor: pointer"><img src="../images/scrollup.png" id="topButtonImg" width="40%"></div>

    </main>


    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="../javascripts/service_test.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../javascripts/ScrollUp.js"></script>

    <script type="text/javascript"> 
    //<![CDATA[
    function calcHeight(){
     //find the height of the internal page
    
     var the_height=
     document.getElementById('swagger-iframe').contentWindow.
     document.body.scrollHeight;
    
     //change the height of the iframe
     document.getElementById('swagger-iframe').height=
     the_height;
    
    //  document.getElementById('swagger-iframe').scrolling = "no";
    //  document.getElementById('swagger-iframe').style.overflow = "hidden";
    }
    //
    </script>

</body>
</html>